/* Default body background (blue background until white background is triggered) */
body {
    margin: 0;
    padding: 0px 350px;
    background: linear-gradient(to bottom, #0055ff, #001a66) no-repeat;
    min-height: 100vh; /* Stellt sicher, dass der Body mindestens die Höhe des Bildschirms hat */
    color: white;
    font-family: Raleway, sans-serif;
    display: flex;
    flex-direction: column; /* Damit die header und die container untereinander sind */
    align-items: center; /* Zentriert die Inhalte horizontal */
}

/* Anpassung der Breite für Tablets und Mobilgeräte */
@media (max-width: 1200px) {
    body {
        padding: 0px 200px;
    }
}
@media (max-width: 768px) {
    body {
        padding: 0px 50px;
    }
}
@media (max-width: 480px) {
    body {
        padding: 0px 20px;
    }
}

/* White background when applied for the song question */
body.white-bg {
    background: linear-gradient(to bottom, #0055ff 0%, #0055ff 70%, white 70%, white 100%);
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Headings */
h1 {
    font-size: 3.3rem;
    font-weight: 200;
    line-height: 3.75rem;
}

.highlight {
    font-family: Kalnia;
    font-weight: 600;
    font-size: 3.3rem;
}

h2 {
    font-size: 2.222rem;
    font-weight: 200;
    line-height: 2.75rem;
}

.highlighth2 {
    font-family: Kalnia;
    font-weight: 600;
    font-size: 2.222rem;
}

h3 {
    font-size: 1.667rem;
    font-weight: 200;
    line-height: 2rem;
    color: black;
}

.highlighth3 {
    font-family: Kalnia;
    font-weight: 600;
    font-size: 1.667rem;
}

p {
    font-size: 1rem;
}

.bold {
    font-weight: 700;
    color: black;
    padding-bottom: 0;
}

@media (max-width: 900px) {
    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .highlight {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.667rem;
        line-height: 2rem;
    }

    .highlighth2 {
        font-size: 1.667rem;
    }

    h3 {
        font-size: 1.389rem;
        line-height: 1.667rem;
    }

    .highlighth3 {
        font-size: 1.389rem;
    }
    p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        line-height: 2.2rem;

    }

    .highlight {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.389rem;
        line-height: 1.5rem;
    }

    .highlighth2 {
        font-size: 1.389rem;
    }

    h3 {
        font-size: 1.111rem;
        line-height: 1.3rem;
    }
    .highlighth3 {
        font-size: 1.111rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.667rem;
        line-height: 1.8rem;
    }

    .highlight {
        font-size: 1.667rem;
    }

    h2 {
        font-size: 1.111rem;
        line-height: 1.2rem;
    }
    .highlighth2 {
        font-size: 1.111rem;
    }

    h3 {
        font-size: 1rem;
        line-height: 1.1rem;
    }

    .highlighth3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.889rem;
    }
}



/* Answer boxes */
.question {
    font-size: 2.5rem; /* Schriftgröße für die Frage */
    margin-bottom: 40px; /* Abstand unter der Frage */
}

.answer-boxes {
    display: grid;
    grid-template-columns: repeat(2, 2fr); /* Zweispaltiges Layout */
    gap: 20px;
}

@media (max-width: 768px) {
    .answer-boxes {
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
    }
}

.answer-box {
    background: rgba(255, 255, 255, 0.1); /* Heller Hintergrund für die Boxen */
    border: 2.5px solid rgba(255, 255, 255, 0.5); /* Rahmen für die Boxen */
    border-radius: 10px; /* Abgerundete Ecken */
    color: white; /* Textfarbe */
    font-size: 1rem; /* Schriftgröße */
    flex: 0 1 calc(50% - 20px); /* Setzt die Breite auf 50% - 20px für zwei Boxen nebeneinander */
    cursor: pointer; /* Zeiger beim Hover */
    min-height: 100px;
    display: flex; /* Flexbox für zentrierten Text */
    align-items: center; /* Zentriert den Text vertikal */
    justify-content: center;
    transition: background-color 0.3s;
}

.answer-box:focus {
    color: #0022ee;
}

@media (max-width: 768px) {
    .answer-boxes {
        grid-template-columns: repeat(1, 1fr); /* Eine Box unter der anderen */
        gap: 10px;
    }

    .answer-box {
        flex: 0 1 calc(100% - 20px); /* Volle Breite für eine Box */
        min-height: 50px;
    }
}

.answer-box p {
    font-weight: 700;
}

.answer-box:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Hintergrundfarbe beim Hover */
}

.answer-box.active {
    background-color: white;
    color: black;
}

/* Logo section */
.logo-section {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.logo-img {
    max-width: 250px;
}

@media (max-width: 1200px) {
    .logo-img {
        max-width: 200px;
    }
}

@media (max-width: 768px) {
    .logo-img {
        max-width: 150px;
    }
}

/* Container styling */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Button styles */
.button {
    border-radius: 80px;
    background: rgba(0, 0, 0, 0.50);
    color: white;
    font-size: 1.389rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: inline-block;
    margin: 20px auto;
}

.button:hover {
    transform: scale(1.03);
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .button {
        font-size: 1.111rem;
        padding: 10px 30px;
        margin: 10px auto;
    }
}

@media (max-width: 480px) {
    .button {
        font-size: .9rem;
        padding: 10px 20px;
        margin: 0px auto;
    }
}

/* White bar for the song box container */
#top-songs-container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: white;
    box-sizing: border-box;
    margin-top: 20px;
    min-height: 250px;
    position: relative;
    flex-wrap: wrap; /* Sicherstellen, dass Song-Boxen richtig platziert werden */
    justify-content: center;
}

/* Transparent song box styling */
.song-box {
    background-color: transparent;
    border: none;
    text-align: center;
    flex: 1;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #top-songs-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .song-box {
        max-width: 120px;
    }
}

/* Song title, artist, album cover, play count styling */
.song-box h3 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
    color: black;
}

.song-box p {
    margin: 5px 0 10px;
    font-size: 1rem;
    color: black;
}

.song-box img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.play-count {
    background-color: white;
    color: #0055ff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* Chart container styling with title */
#chart-container {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    width: 100vw;
    /* height: calc(100vh - 60px); /* Höhe anpassen, damit sie bis zum unteren Rand reicht */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: visible;
}

#chart-container h3 {
    margin-bottom: 20px;
    color: black;
    text-align: center;
}


