/* styles.css */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('img/background-gradient.svg'); /* Test mit JPG/PNG */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.container {
    text-align: center;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

.content {
    color: white;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #ff4b5c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff3b4a;
}
